{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="box col-md-6">
            <img src="{{ url_for('static',filename='pin_img/' + pin.pin_pic) }} ">

            <!--save to profile-->
            <a class="btn btn-outline-danger btn-lg mt-3 " href="{{ url_for('pins.save_pin',pin_id=pin_id) }}">Save</a>

            <!--save to board-->
            <div class="btn-group mt-3 " role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-danger btn-lg " data-bs-toggle="dropdown"
                        aria-expanded="false">Save to Board
                </button>

                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    {% for board in boards %}
                    <li><a class="dropdown-item"
                           href="{{ url_for('pins.save_pin_board', board_id=board.id, pin_id=pin_id ) }}">
                        {{ board.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="col-md-6">
            <h3><a class="text-danger text-decoration-none">{{ pin.title }}</a></h3>
            <h5>{{ pin.content }}</h5>
            <p>{{ pin.date_posted.strftime('%Y-%m-%d') }}</p><span>Created by :-</span>
            <a href="{{ url_for('users.user_profile',username=user.username) }}"
               class="text-danger text-decoration-none">{{ user.username }}</a><br><br>

            <!--like count-->
            <span class="text-muted">{{ pin.like | length }} Likes</span><br>

            {% if current_user.id in pin.like|map(attribute="user_id")|list %}
            <a type="button" class="btn btn-outline-danger btn-lg like-button"
               href="{{ url_for('pins.like_pin',pin_id=pin.id) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </a>
            {% else %}
            <a type="button" class="btn btn-outline-danger btn-lg like-button"
               href="{{ url_for('pins.like_pin',pin_id=pin.id) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart"
                     viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
            </a>
            {% endif %}
            <br>

        </div>
    </div>

    <form method="POST" action="{{ url_for('pins.create_comment',pin_id=pin.id)}}" class="d-flex me-auto mt-4">
        {{ form.hidden_tag() }}
        <input class="form-control me-2" name="text" type="text" id="text" placeholder="Type comment..."
               aria-label="Comment">
        <button class="btn btn-outline-danger" type="submit">Comment</button>
    </form>


    <section style="background-color: #e7effd;">
        <div class="container my-5 py-5 text-dark">
            <div class="row d-flex justify-content-center">
                <div class="col-md-11 col-lg-9 col-xl-7">
                    {% for comment in pin.comments %}
                    <div class="d-flex flex-start mb-4">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="{{ url_for('static',filename='profile_img/' + comment.user.profile_pic) }}"
                             alt="avatar"
                             width="65"
                             height="65"/>
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div class="">
                                    <h5>{{ comment.user.username }}</h5>
                                    <p class="small">{{ comment.date_posted.strftime('%Y-%m-%d') }}</p>
                                    <p>
                                        {{ comment.text }}
                                    </p>
                                    {% if comment.user_id == current_user.id %}
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{{ url_for('pins.delete_comment',comment_id=comment.id, pin_id=pin.id) }}" class="link-muted text-danger">Delete</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock content %}